# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# Environment
.env*.local
.env.*

# IDE
.vscode
.idea

# Docker
docker-compose.yml

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
